body {
    font-size: 24px;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 300px;
}

#editor {
    position: absolute;
    left: 0;
    height:100%;
    width:50%;
}

#editor-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: #1d1e19;
    color: #F8F8F2;
    list-style: none;
    margin: 0;
    padding: 0;
}

#editor-buttons li a {
    padding: 8px;
    font-size: 18px;
    font-family: "Open Sans", monospace;
    border-right: #272822 1px solid;
    flex: inherit;
}

#editor-buttons li a:hover {
    background-color: #272822;
    cursor: pointer;
}

#container {
    position: absolute;
    order: 2;
    left: 50%;
    width:50%;
    height:100%;
    margin: 0 auto;
    background-color: #272822;
    color: #F8F8F2;
    font-family: "JetBrains Mono", monospace;
}

#container-title {
    padding: 2px 8px;
    margin: 0;
    border-bottom: #313329 1px solid;
    background-color: #272822;
    color: dimgray;
    font-style: italic;
}

#output {
    position: absolute;
    margin: 8px;
    background-color: #272822;
    border: none;
    color: #F8F8F2;
    resize: none;
    width: 96%;
    outline: none;
    height: 93%;
    font-size: 16px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.slider {
    width: 1%;
    height: 100%;
    background-color: grey;
}

